<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="StarterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">-->
   <nlog autoReload="true">
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/WinAFRED/Logs"/>
      <targets async="true">
         <target name="file" type="File"
                 layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"
                 fileName="${LogDir}/WinAFRED.log"
                 archiveFileName="${LogDir}/WinAFRED.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
         <target name="method" type="MethodCall" className="StarterApp.WinAFRED,StarterApp" methodName="LogMethod">
            <parameter layout="${level:uppercase=true}" />
            <parameter layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}" />
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
         <logger name="*" minlevel="Trace" writeTo="method"/>
      </rules>
   </nlog>
   <userSettings>
      <StarterApp.Properties.Settings>
         <setting name="WindowLocation" serializeAs="String">
            <value />
         </setting>
         <setting name="UpdateRequired" serializeAs="String">
            <value>True</value>
         </setting>
      </StarterApp.Properties.Settings>
   </userSettings>
</configuration>
